body
{
	background-color:#333232;
	font-family: 'Charm', cursive;
	font-size:20px;
	color:#ffffff;
}
a:link
{
	color:#ffffff;
	text-decoration:none;
}

a:visited
{
	color:#ffffff;
	text-decoration:none;
}

a:hover
{
	color:#ffffff;
	text-decoration:none;
}

form
{
    width: 100%;
    height: 100%;
    margin: auto;
   position: relative;
}


input, label
{
   width: 200px;
   height: 30px;
   padding: 5px 5px;
  margin: 5px 0;
  display:block;
 }

#container
{
	width:1800px;
	margin-left:auto;
	margin-right:auto;
}

#menu
{
	width:1350px;
	background-color:#151B4F;
	margin-top:30px;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:10px;
}

    .option
	{
		float:left;
		min-width:auto;
		padding:10px;
		font-size:25px;
		border-right:2px dotted #F1E3E3;
	}

#content
	{
	    width:1500px;
		margin-top:20px;
		margin-bottom:20px;
	}

#filter
{
		width:250px;
		float:left;
		padding:20px;
		background-color:#151B4F;
		font-size:20px;
		border-right:2px dotted #ffffff;
	}


	#main
	{
		background-color:#bbbbbb;
		height:auto;
		width:1100px;
		float:left;
		padding-left:30px;
		padding-right:30px;
		padding-bottom:50px;
		padding-top:20px;
	}

    .book
		{
			width:500px;
			height:450px;
			margin:10px;
			text-align:left;
			float:left;
			color:#000000;
			bottom:0px;
		}

			.paginator
		{
			color:#000000;
			clear:both;
			margin-top:20px;
			font-size:30px;
		}
				.paginator a:link
				{
					color:#000000;
				}

				.paginator a:visited
				{
					color:#000000;
				}

				.paginator a:hover
				{
					color:#000000;
				}
