{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
     <link rel="stylesheet" type="text/css" href="{% static 'books/style.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Charm:400,700&amp;subset=latin-ext" rel="stylesheet">

    <title>Personal Book Library</title>

  </head>
   <body>

    <div class="container">

        <div id='menu'>

            <a href="http://127.0.0.1:8000/books/index/">
					<div class='option'>Books Index</div>
            </a>

            <a href="http://127.0.0.1:8000/books/add_book/">
					<div class='option'>Add new book</div>
            </a>

            <a href="http://127.0.0.1:8000/books/import_book/">
					<div class='option'>Import books</div>
            </a>
            <div style='clear:both;'></div>

        </div>

        <div id='content'>
            {% block content %}
            {% endblock %}
        </div>

    </div>

  </body>
</html>