{% extends "books/base.html" %}
{% load bootstrap %}
{% load staticfiles %}

{% block content %}

    <div class="cointainer">

        <div id="filter">

            <form method="GET">
            {{ filter.form}}
            <button type="Submit" class="btn btn-primary">Search</button>
                <div style='clear:both;'></div>
        </form>

        </div>

        <div id="main">

            <p>
        {% for book in object_list %}
            <p>

            <div class="book">

                <div class="title">
                 Title: {{book.title}}
                </div>

                <div class="authors">
                    Authors: {% for name in book.authors.all %}
                                    {{ name.author }},
                                {% endfor %}
                </div>

                <div class="published_date">
                    Published: {{book.published_date}}
                </div>

                <div class="pages">
                    Pages: {{book.pages}}
                </div>

                <div class="language">
                    Language: {{book.language}}
                </div>

                <div class="Identifiers">
                    Industry indetifiers:
                    {% for identifier in book.industry_identifiers.all %}
                    <br>{{ identifier.type }} : {{ identifier.identifier }}
                    {% endfor %}
                </div>

                <div class="thumbnail">
                    {% for thumbnail in book.thumbnails.all %}
                    <p>
                        thumbnails:<br>
                       <img src="{{thumbnail.thumbnail}}" >
                        <img src="{{thumbnail.small_thumbnail}}" >
                    {% endfor %}
                </div>

            </div>

        {% endfor %}

            {% if is_paginated %}
              <div class="paginator">
                  <div>
                    {% if page_obj.has_previous %}
                      <a href="?page={{ page_obj.previous_page_number }}"><</a>
                    {% endif %}

                    <span class="small">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

                    {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}">></a>
                    {% endif %}
                  </div>
              </div>
            {% endif %}

        </div>

{% endblock %}